/* ------------- dashboard-------------------- */
.dasboard_navbar .toggle-icon {
    color: #fff;
    font-size: 22px;
    padding: 5px 0px 5px 19px;
    cursor: pointer;
    vertical-align: middle;
    margin-top: 20px;
}
.header_dashboard{
    height: 71px;
    position: fixed;
    width: 100%;
    z-index: 9;
}
.header_dashboard .navbar-toggler{
    display: none;
}





/* ================================ */
@media only screen and (max-width: 767px) {
    .top_headerinline li{
        padding: 0;
    }
    .top_headerinline{
        float: right;
    }
    .dasboard_navbar .toggle-icon{
        padding: 0;
    }
    .dasboard_navbar .navbar-header{
        display: inline-flex;
    }
    .sidebar_newcollapse .navbar-collapse{
        overflow: hidden;
        top: 60px;
        position: fixed;
        height: calc(100vh - 30px)!important;
        background: #01143E;
        left: -100vw!important;
        width: 100%!important;
        transition: ease all .5s;
        padding: 0px;
        margin: 0px;
        display: block!important;
        visibility: hidden;
      }
      .sidebar_newcollapse .navbar-collapse.in{
        left: 0vw!important;
        transition: ease all .5s;
        visibility: visible;
        z-index: 99;
        width: 220px !important;
        overflow: hidden;
      }
      #sidebar-wrapper{
          margin-left: 0!important;
      }
      .header_dashboard .navbar-toggler{
        display: block;
        margin: -12px;
    }
    
    
}

 
@media screen and (max-width: 320px) {
    img.dashboardheader{
        width: 30px;
    }
    .rebecca_profilelist a{
        padding-left: 0;
        padding-right: 0;
    }
}