.deposit_container .add_money{
    margin-top: 7%;
}
.add_money{
    display: inline-block;
    background-color: #00F29D;
    font-size: 16px;
    font-weight: 500;
    float: right;
    border: none;
    border-radius: 50px;
    padding: 13px 60px;
}
.deposit_container {
    margin-bottom: 38px;
}
.deposit_container h1{
    display: inline-block;
}
.deposite_page td{
    height: 60px;
    line-height: 60px;
    border-top: 1px solid #70798C;
    padding: 0 10px;
}
.deposite_page th{
    border: 0;
}















/* ===================================================== */
@media only screen and (max-width: 767px) {
    .diposite_addmoney{
        padding: 10px 45px;
        margin-top: 15% !important;
    }
    
}
@media (min-width: 768px) and (max-width:1022px) {
    .deposit_container .add_money {
        margin-top: 10%;
    }
}
@media (min-width: 1022px) and (max-width:1024px) {
    .diposite_addmoney{
        margin-top: 10% !important;
    }
}