
.datatable-doc-demo .p-paginator .p-paginator-current {
  margin-left: auto;
}

.datatable-doc-demo .p-progressbar {
  height: .5rem;
  background-color: #D8DADC;
}

.datatable-doc-demo .p-progressbar .p-progressbar-value {
  background-color: #607D8B;
}

.datatable-doc-demo .table-header {
  display: flex;
  justify-content: space-between;
}

.datatable-doc-demo .p-datepicker {
  min-width: 25rem;
}

.datatable-doc-demo .p-datepicker td {
  font-weight: 400;
}

.datatable-doc-demo .p-datatable.p-datatable-customers .p-datatable-header {
  padding: 1rem;
  text-align: left;
  font-size: 1.5rem;
}

.datatable-doc-demo .p-datatable.p-datatable-customers .p-paginator {
  padding: 1rem;
}

.datatable-doc-demo .p-datatable.p-datatable-customers .p-datatable-thead > tr > th {
  text-align: left;
}

.datatable-doc-demo .p-datatable.p-datatable-customers .p-datatable-tbody > tr > td {
  cursor: auto;
}

.datatable-doc-demo .p-datatable.p-datatable-customers .p-dropdown-label:not(.p-placeholder) {
  text-transform: uppercase;
}

.datatable-doc-demo .p-datatable-customers .p-datatable-tbody > tr > td .p-column-title {
  display: none;
}
.datatablecard-height{
  height:100vh;
}
@media screen and (max-width: 960px) {
  /* .datatable-doc-demo .p-datatable.p-datatable-customers .p-datatable-thead > tr > th,
  .datatable-doc-demo .p-datatable.p-datatable-customers .p-datatable-tfoot > tr > td {
      display: none !important;
  } */

  .datatable-doc-demo .p-datatable.p-datatable-customers .p-datatable-tbody > tr {
      border-bottom: 1px solid var(--layer-2);
  }

  .datatable-doc-demo .p-datatable.p-datatable-customers .p-datatable-tbody > tr > td {
      text-align: left;
      /* display: block; */
      border: 0 none !important;
      width: 100% !important;
      /* float: left; */
      clear: left;
      border: 0 none;
  }

  .datatable-doc-demo .p-datatable.p-datatable-customers .p-datatable-tbody > tr > td .p-column-title {
      padding: .4rem;
      min-width: 30%;
      display: inline-block;
      margin: -.4rem 1rem -.4rem -.4rem;
      font-weight: bold;
  }

  .datatable-doc-demo .p-datatable.p-datatable-customers .p-datatable-tbody > tr > td .p-progressbar {
      margin-top: .5rem;
  }
}
@media screen and (max-width: 767px) {
  .p-datatable table{
    width: auto;
  }
  .datatable-doc-demo .p-datatable-wrapper{
    overflow-x: auto;
  }
  .search-areabox {
    width: 207px !important;
  }
  .datatable-doc-demo .p-datatable.p-datatable-customers .p-datatable-thead > tr > th{
    width:auto !important;
  }
  .dropdown-menu{
    margin-left: -7px;
  }
}
@media screen and (min-width: 250px)and (max-width: 280px) {
  .datatable-doc-demo .table-header{
    display: inline-block!important;
  }
  .button-drop {
    margin: -8px 0px 0px 25px !important;
  }
  .search-areabox{
    padding-top: 10px;
  }
}



.search-areabox{
  width: 220px;
  display: inline-flex;
}
.button-drop{
  margin: -8px 0px 0px 13px;
}
.dropdown-menu{
  position: absolute!important;
  left: -53px;
  box-shadow: 0px 0px 8px 0px rgba(114, 112, 113, 0.6) !important;
  top: 40px;
  background-color: #fff !important;
}
img.dashboardheader{
  border-radius: 50px;
  height: 40px;
  width: 40px;
}
.dropdown-menu a i{
  padding-right: 10px;
}
.dropdown-menu a {
  font-weight: 600 !important;
}
.search-areabox .p-input-icon-left .pi-search{
  top: 14px;
  left: 7px;
}