.contactUs_container{
    padding:50px 0px 0px 0px;
}
.contactUs_container span.breacrumbs_text{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
h3.contact_head{
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    padding-top: 34px;
}
.conatct_bg{
    margin-top: 80px;
}
.conatct_bg img{
    width: 100%;
}
h2.contact_headtwo{
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 54px;
    color: #FFFFFF;
}
h2.contact_headtwo span{
    text-transform: uppercase;
    color: #00F69B;
}
/* .contact_detailwidth .contact_position{
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
    background: #09153e;
    width: 150px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: -17px;
    text-transform: capitalize;
} */
.contact_detailwidth{
    box-sizing: border-box;
    /* border-radius: 20px; */
    margin: 0 auto;
    max-width: 100%;
    width: 588px;
    height: 761px;
    background: #23224D;
}
.contact_detail{
    padding:73px 50px 0px 50px;
}
.contact_detail h4{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 20px;
    text-align: left;
}
.contact_detail p.privacy_text{
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    color: #FFFFFF;
}
.contact_detail p.free_text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding-top: 34px;
}
.contact_detail form{
    padding: 33px 0px;
}
.fname_feild{
    width: 48%;
    display: inline-block;
    margin-right: 17px;
}
.lname_feild{
    width: 48%;
    display: inline-block;
}
.text_area textarea:focus{
    background-color: transparent;
    color: #fff;
    opacity: 1;
    outline: 0;
    border-color: #00F29D;
    box-shadow: none;
}
.text_area textarea{
    background-color: transparent;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    opacity: 1;
    padding: 14px 10px;
}
.text_area label{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
.contact_detail .checkbox{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    padding-top: 10px;
}
.contact_detail .checkbox label{
    line-height: 19px;
}
.contact_detail .invest_nowus{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    background: #00F69B;
    border-radius: 100px;
    border: 0;
    width: 100%;
    height: 66px;
    text-transform: capitalize;
    margin-top: 20px;
}
.label-before, .field input:focus + label::before, .field input:valid + label::before {
    line-height: 20px;
    font-size: 12px;
    top: -7px;
    background: #09153e;
    padding: 0 6px;
    left: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px; 
  }
  .contact_detail .field {
    position: relative;
    margin-bottom: 20px;
  }
  .contact_detail .field label::before {
    content: attr(title);
    position: absolute;
    top: 0;
    left: 15px;
    line-height: 40px;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #FFFFFF;
    transition: 300ms all;
  }
  .contact_detail .field input {
    width: 100%;
    line-height: 40px;
    padding: 0 15px;
    font-size: 14px;
    color: #D9D9D9;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: transparent;
  }
  .contact_detail .field input:focus {
    outline: 0;
    border-color: #00F29D;
  }
  .field input:valid + label::before {
    content: attr(data-title);
  }
  .field input:focus + label::before {
    color: #00F29D;
  }
.contact_container h2{
    margin-top: 5%;
}







/* ====================== */
@media only screen and (max-width: 767px) {
    .contact_us_page .container{
        max-width: 100%;
    }
    .contactUs_container{
        padding: 28% 10px 0px 10px;
    }
    h3.contact_head{
        font-size: 25px;
        line-height: 35px;
        text-align: center;
        padding: 0;
    }
    .conatct_bg img{
        width: 100%;
    }
    .contact_detail {
        padding:44px 7% 0px 7%;
        margin-top: 45px;
    }
    .contact_detail h4{
        font-size: 25px;
        line-height: 30px;
    }
    .contact_detail p.free_text{
        padding-top: 10px;
    }
    .fname_feild{
        width: 100%;
    }
    .lname_feild{
        width: 100%;
    }
    .contact_detail .invest_nowus{
        margin-top: 5px;
    }
    .contact_detailwidth .contact_position{
        font-size: 25px;
    }
    .contact_container h2 {
        margin-top: 10%;
    }
    h2.contact_headtwo{
        font-size: 30px;
        line-height: 41px;
        text-align: center;
    }
}
@media screen and (max-width: 320px) {
    h3.contact_head {
        font-size: 22px;
        line-height: 29px;
    }
    h2.contact_headtwo {
        font-size: 25px;
        line-height: 33px;
        text-align: center;
    }
    .contact_detailwidth .contact_position {
        font-size: 22px;
    }
    .contact_detail h4 {
        font-size: 22px;
        line-height: 20px;
    }
    .contact_detail {
        padding: 48px 5% 0px 5%;
    }
}
@media (min-width: 768px) and (max-width:1022px) {
    .fname_feild{
        width: 100%;
    }
    .lname_feild{
        width: 100%;
    }
    .contact_detail p.free_text{
        padding-top: 10px;
    }
    .conatct_bg img {
        width: 100%;
    }
    .contact_detailwidth{
        height: auto;
    }
}
@media (min-width: 1022px) and (max-width:1024px) {
    .conatct_bg img {
        width: 100%;
    }
    .contact_detailwidth{
        height: auto;
    }
    .contact_container h2 {
        margin-top: 3%;
    }
}