#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
    height: 100vh;
  }
  #sidebar-wrapper{
    position: fixed;
    z-index: 99;
    height: 100%;
    left: 0;
    top: 70px;
    width: 0px;
    left: 240px;
    margin-left: -240px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  .page-content-wrapper {
    min-height: calc(100vh - 3.625rem);
    overflow-x: hidden;
    background: #23224D;
    height: 100%;
} 
#wrapper.toggled #sidebar-wrapper{
  width: 250px;
  display: block;
}
.sidebar-nav{
    width: 240px;
  }
.dashboardmain_content{
    width: calc(100% - -4px);
    display: inline-block;
    background: #23224D;
    margin-left: -4px;
    padding: 30px 50px 0 50px;
}
.contentheading{
    margin-top: 80px;
}
#wrapper.toggled #sidebar-wrapper{
    width: 250px;
    display: block;
 }

 .dashboard_page td{
  height: 90px;
  line-height: 90px;
  border-top: 1px solid #70798C;
  padding: 0 10px !important;
}
.dashboard_page th{
  border: 0;
}
.profile-text{
  font-size: 16px;
}
.dashboard_tdimg{
  float: left;
}
.dashboard_table_text{
  margin-top: 20px;
}











/* ---------------------------------------- */
  @media (min-width: 800px){
    #wrapper {
        padding-left: 240px !important;
    }
    #sidebar-wrapper {
      width: 240px !important;
      height: 100% !important;
      padding: 0%;
    }
    .page-content-wrapper {
      padding: 20px 40px 20px 40px;
      position: relative;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
    #wrapper.toggled #sidebar-wrapper {
        width:80px !important;
    }
    #wrapper.toggled .page-content-wrapper {
      position: relative;
      margin-right: 0;
      margin-left: -160px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      width: calc(100% - -177px);
    }
    #wrapper.toggled .list-text{
      display: none;
    }
  }

  @media only screen and (max-width: 767px) {
    .dashboard_table_text {
      margin-top: 20px;
      width: 248px;
    }
    /* #sidebar-wrapper{
        top: 58px;
    } */
    #sidebar-wrapper{
      top: 66px;
       border: 0;
  }
    .contentheading {
        margin-top: 50px;
    }
    .dashboardmain_content{
        padding: 60px 18px 0 18px;
    }
    .welcome_user{
        text-align: center;
    }
    .balance_div{
        float: none;
    }
    .balance_div p{
        padding-top: 10px;
    }
    .withdrawl_history li{
        padding: 0 15px;
    }
    .withdrawl_history li:hover::after {
        width: 125px;
    }
    .dashboard_table table td{
        font-size: 14px;
    }
    
  }
  @media screen and (max-width: 320px) {

  }
  @media (min-width: 768px) and (max-width:1022px) {
    .dashboard_table_text {
      width:300px;
      max-width: 100%;
    }
  }
  @media (min-width: 1022px) and (max-width:1024px) {
    .dashboard_table_text {
      width:300px;
      max-width: 100%;
    }
  }