









@media only screen and (max-width: 767px) {
    .forgot_passwordpage .forgotpass_container{
        width: 100%;
        padding-top: 100px;
    }
    .forgot_passwordpage .signup_form input{
        width: 100%;
    }
}
@media screen and (max-width: 320px) {
    .forgot_passwordpage .forgotpass_container h1{
        font-size: 30px;
    }
    .forgot_passwordpage form{
        width: 100%;
        padding: 0px 20px;
    }
}
@media (min-width: 768px) and (max-width:1022px) {

}
@media (min-width: 1022px) and (max-width:1024px) {
    
}