.rule_container span{
    text-transform: capitalize;
}
.rules_data p{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.rules_data{
    padding:100px 50px 50px 50px;
}
.rules_data  h2{
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 70px;
    color: #FFFFFF;
}
.rules_data .rule_list{
    padding: 0px 18px;
}






/* ====================== */
@media only screen and (max-width: 767px) {
    .rules_data {
        padding: 100px 20px 50px 20px;
    }
    .rules_data p{
        font-size: 16px;
    }
    .rules_data h2{
        font-size: 25px;
    }
}
@media screen and (max-width: 320px) {
    .rules_data p{
        font-size: 16px;
    }
    .rules_data h2{
        font-size: 25px;
    }
}
@media (min-width: 768px) and (max-width:1022px) {

}
@media (min-width: 1022px) and (max-width:1024px) {
    
}